.contests {
    position: relative;
    z-index: 2;

    &__wrapper {
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 44px;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__title {
        font-size: 24px;
        line-height: 24px;
        color: #193441;
        font-weight: normal;

        padding: 0;
        margin: 0;
    }

    &__all {
        color: #267D92;
        font-size: 16px;
        line-height: 16px;

        &:hover {
            color: #E06769;
        }
    }

    &__btn {
        border: none;
        background: url(./../img/arrow2.svg) no-repeat 0 0;
        width: 22px;
        height: 19px;

        &--back {
            transform: scale(-1, 1);
        }

        &--forward {
            margin-left: 16px;
        }

    }

    &__list {
        margin: 0;
        padding: 0;
    }

    &__img {
        background: url('./../img/events-image.png') no-repeat center;
        width: 100%;
        min-height: 190px;

        margin-top: 44px;

        position: relative;

        &::before {
            content: '1 сентября - 1 сентября';

            position: absolute;
            top: -8px;
            left: 24px;

            background-color: #E06769;

            color: #FFFFFF;

            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 24px;

            padding: 5px 8px;
        }

        &--2 {
            background: url('./../img/event-2.png') no-repeat center;

            &::before {
                content: '2 Июля - 10 Августа';
            }
        }

        &--3 {
            background: url('./../img/event-3.png') no-repeat center;

            &::before {
                content: '2 Июля - 10 Августа';
            }
        }
    }

    &__item-title {
        padding-left: 24px;
        padding-right: 24px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #193441;
    }

    &__bonus {
        display: none;
    }

    &__text {
        padding-left: 24px;
        padding-right: 24px;

        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;

        color: #193441;

        &--bold {
            font-weight: 400;
        }
    }

    &__item {
        cursor: pointer;

        &:hover p {
            color: #E06769;
            text-decoration: underline;
        }
    }
}

@media (min-width: 768px) {
    .contests {
        &__wrapper {
            justify-content: flex-start;

            padding-left: 48px;
            padding-right: 48px;
            padding-top: 76px;

            margin-top: 0;
        }

        &__all {
            margin-left: 24px;
        }

        &__btns {
            display: none;
        }

        &__list {
            padding-left: 24px;
            padding-right: 24px;
        }

        &__item {
            width: 50%;
        }

        &__item-title {
            padding: 0;
            padding-left: 23px;
            padding-right: 23px;
        }

        &__text {
            padding: 0;
            padding-left: 23px;
            padding-right: 23px;
        }
    }
}

@media (min-width: 1440px) {
    .contests {
        &__wrapper {
            padding-left: 150px;
            padding-right: 150px;
        }

        &__item {
            width: 24%;
            background-size: cover;
        }

        &__desk-pos {
            display: flex;
        }

        &__list {
            padding-left: 115px;
            padding-right: 115px;
            display: flex;
            justify-content: space-between;
            width: 1000px;
        }

        &__bonus {
            display: block;
            background: url('./../img/bonus.png') no-repeat 0 10px;
            background-size: cover;
            width: 26%;
            margin-top: 30px;
            margin-right: 115px;
        }
    }
}